.loan_against_securities-container {
    display: flex;
    flex-direction: column;
    font-weight: 450;
}

.loan-title {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 8rem;
}

.loan_against_securities-main {
    margin-top: 4rem;
    display: grid;
    grid-template-columns: 60% 40%;
    font-family: var(--font-family);
}

.loan_against_securities-heading {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.loan_against_securities-description {
    margin-top: 2rem;
    color: var(--color-subtext-light);
}

.loan_against_securities-btn {
    margin-top: 2.4rem;
    margin-bottom: 1rem;
}

.loan_against_securities-image img {
    width: 100%;
    justify-content: center;
    z-index: 10;
}



/*============================CARD CONTAINER======================================*/
.loan_against_securities__card-container {
    background-color: var(--color-secondary-dark);
    padding: 5rem 3rem;
}


.loan_against_securities-Card-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 4rem;
    row-gap: 4rem;

}

.loan-card-title h1 {
    font-size: 5rem;
    text-align: center;
    color: var(--color-subtext-light);

}

.loan-card-title p {
    text-align: center;
    margin-bottom: 4rem;

}

.medical-card {

    border: 2px solid transparent;
    padding: 3rem 2rem;
    transition: var(--transition);
    border-radius: 2rem;
    background-color: #EEF8F9;
}

.travel-card {

    border: 2px solid transparent;
    padding: 3rem 2rem;
    transition: var(--transition);
    border-radius: 2rem;
    background-color: #fcf2f2;

}

.renovation-card {

    border: 2px solid transparent;
    padding: 3rem 2rem;
    transition: var(--transition);
    border-radius: 2rem;
    background-color: #f2f2ff;
}

.education-card {

    border: 2px solid transparent;
    padding: 3rem 2rem;
    transition: var(--transition);
    border-radius: 2rem;
    background-color: #fefbec;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.card-img {
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-body .card-img img {
    height: 10rem;

    
}

.medical-card:hover {
    transform: translateY(-3rem);
    box-shadow: 0px -5px 10px 0px rgba(0, 0, 0, 0.5);

}

.travel-card:hover {
    transform: translateY(-3rem);
    box-shadow: 0px -5px 10px 0px rgba(0, 0, 0, 0.5);

}

.renovation-card:hover {
    transform: translateY(-3rem);
    box-shadow: 0px -5px 10px 0px rgba(0, 0, 0, 0.5);

}

.education-card:hover {
    transform: translateY(-3rem);
    box-shadow: 0px -5px 10px 0px rgba(0, 0, 0, 0.5);

}



.loanAgainstSecuritiesFeaturesCardContainer {
    margin-top: 5rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 4rem;
    row-gap: 4rem;
    font-size: 1.8rem;
}

.loanAgainstSecuritiesFeaturesCard {
    display: flex;
    align-items: center;
    color: var(--color-text);
    color: rgb(0, 0, 0);
    justify-content: space-between;
    background: white;
    background: var(--color-primary-light);
    border: 2px solid transparent;
    padding: 4rem 2rem;
    border-radius: 0 3rem 0 3rem;
    transition: var(--transition);
    gap: 2rem;
    box-shadow: 0px 0px 10px 2px rgba(91, 91, 91, 0.2);
}

.card-content {
    text-align: center;
}

.why-block-heading {
    color: var(--color-primary);
}


.loanAgainstSecuritiesFeaturesCard:hover {


    background: var(--color-grey-light);

}

.card-icon{
    width: 10rem;
}