REACT_APP_API_BASE_URL=https://api.anupaatnivesh.com
REACT_APP_WHATSAPP_NUMBER=919501195200

REACT_APP_BASE_URL=https://www.anupaatnivesh.com

RAZORPAY_KEY_ID=rzp_live_S46rOVxN6EPLPl
RAZORPAY_KEY_SECRET=C6D1F9oxRsgYmQ2ejxGBmwHy

CI=false
NODE_ENV=production
