.app-section {
  /* background-color: var(--color-primary-light); */

  /* width: 1300px; */
  display: grid;
  grid-template-columns: 1fr 2fr;
  column-gap: 6rem;
  margin-top: 8rem;
}



.app-description-box {
  font-weight: 450;
  padding: 2rem;
  font-size: 1.6rem;
  justify-self: center;
  align-self: center;
  color: var(--color-subtext);
}

.appScreenShot-box {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-self: start;
}

.app-screenshot-img {
  width: 30rem;
}

.description {
  margin-top: 4rem;
}

.app-description-list {
  list-style: disc;
  margin-top: 2rem;
}

.app-heading-box h2 {
  margin-bottom: 5rem;
  line-height: 1.5;
}

.app-store_box {
  height: 40px;
  display: flex;
  gap: 4rem;
  flex-direction: column;
}

.store-img {
  width: 20rem;
  border-radius: 1rem;
  transition: all 0.3s;
}

.store-img:hover {
  transform: translateY(-2px);
}



.android-app:hover {
  box-shadow: 0 0 10px 6px rgba(0, 0, 0.5, 0.1);
}

.section-heading-focus {
  display: inline-block;
}


/* ******************************** */
/* BELOW 1200px (landscape tablets) */
/* ******************************** */


@media(max-width: 75em) {

  .app-description-box {
    padding: 0;
  }

  .app-section {

    column-gap: 2rem;
  }



}

/* ******************************** */
/* BELOW 1008px (Tablets) */
/* ******************************** */

@media(max-width: 63em) {
  .app-heading {
    font-size: 3rem;
  }

  .description {
    margin-top: 1rem;
    font-size: 1.8rem;
  }

  .store-img {
    width: 15rem;

  }



  .app-screenshot-img {
    width: 25rem;
  }

  .app-description-list {
    margin-top: 1rem;
  }

  .android-app {
    margin: 1rem 0;
  }


}


/* ******************************** */
/* BELOW 960px (Tablets) */
/* ******************************** */

@media(max-width: 60em) {
  .app-section {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .appScreenShot-box {
    justify-self: center;
  }

  .app-description-box {
    align-self: flex-start;
  }

  .android-app {
    margin: 2rem 0;
  }
}

/* ******************************** */
/* BELOW 704px (Smaller Tablets) */
/* ******************************** */

@media(max-width: 44em) {
  .app-description-box {
    font-size: 1.4rem;
  }
}


/* ******************************** */
/* BELOW 544px (Phones) */
/* ******************************** */

@media(max-width: 34em) {
  .app-screenshot-img {
    width: 20rem;
  }

  .app-heading {
    font-size: 2rem;
    line-height: 1.2;
  }

  .app-description-box {
    font-size: 1.2rem;
  }

  .description {
    font-size: 1.6rem;
  }

  .store-img {
    width: 12rem;
    height: relative;

  }

  .android-app {
    width: 15rem;

  }


}