.anupaat__whyanupaat {
    display: flex;
    flex-direction: column;
}

.why-heading-section {
    display: flex;
    align-items: center;
    justify-content: center;
}

.anupaat__whyanupaat-main {
    margin-top: 4rem;
    display: flex;

    justify-content: center;
    font-family: var(--font-family);
}

.anupaat__whyanupaat-heading {
    display: flex;
    align-items: center;
    justify-content: start;
}

.why-description {
    margin-top: 4rem;
    width: 60%;
}



.whyanupaat-title-image img {
    width: 60rem;
    justify-content: center;
    z-index: 10;
}



/* ********************************************* */
/* Why Anupaat Card Container */
/* ********************************************* */



.anupaat__card-container {
    margin-top: 4rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 4rem;
    row-gap: 4rem;
    font-size: 1.8rem;
}

.whyanupaat_data {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #f4cccc;
    border: 2px solid transparent;
    padding: 3rem 2rem;
    border-radius: 0 3rem 0 3rem;
    transition: var(--transition);
    gap: 2rem;
}


.whyanupaat_data:hover {
    background: transparent;
    border-color: grey;
}

.whyanupaat_data span {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fe0101;
    color: var(--color-text);
    font-size: 2rem;
    padding: 2rem;
    width: fit-content;
    border-radius: 1rem;
    transition: var(--transition);
}





/* ********************************************* */
/* Media Queries */
/* ********************************************* */

@media screen and (max-width: 990px) {
    .anupaat__whyanupaat-main {
        flex-direction: column-reverse;
    }

    .anupaat_whyanupaat-heading-explanation {
        width: 48%;
    }

    .anupaat__whyanupaat-heading {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: left;

        margin: 4rem 0 2rem;
    }

    .anupaat__whyanupaat-heading p {
        align-items: center;
    }

    .anupaat__whyanupaat-heading {
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 0rem;
    }

    .anupaat__whyanupaat-heading p {
        margin-top: 1rem;
    }


}

@media screen and (max-width: 700px) {
    .anupaat__card-container {
        grid-template-columns: repeat(1, 1fr);
    }

    .anupaat__card-container {
        width: 100%;
    }

    .whyanupaat_data h4 {
        font-size: 20px;
        line-height: 52px;
    }
}

@media screen and (max-width: 650px) {


    .anupaat__card-container,
    .anupaat__whyanupaat-main {
        flex-direction: column;
    }



    .anupaat__card-container small {
        margin-top: 0.5rem;
    }

    .anupaat__whyanupaat-heading h1 {
        font-size: 28px;
        line-height: 40px;
    }
}

@media screen and (max-width: 350px) {


    .anupaat_whyanupaat-heading-explanation,
    .anupaat__whyanupaat-main {
        margin: 1rem 0;
        min-width: 100%;
    }

    .anupaat__whyanupaat-heading {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: 4rem 0 2rem;
    }



    .whyanupaat-title-image img {
        width: 100px;
        height: 180px;
    }

}