/* Margin/padding: 4rem, 1rem */

/*.aboutUs-container {
  background: var(--color-primary-light);
}*/

.aboutus-description-section {
  margin-top: 4rem;
  font-weight: 450;

}

/* .aboutus-heading{
color: var(--color-secondary);
} */
.aboutus-description {
  line-height: 2;
}

.aboutus-description-section2 {
  margin-top: 8rem;
  display: flex;
  gap: 6rem;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.aboutus-description-section3 {
  margin-top: 9.6rem;
  text-align: center;
}


.aboutus-description-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  box-shadow: 0px 0px 10px 2px rgba(91, 91, 91, 0.2);
  padding: 2rem;
  gap: 1rem;
  border-radius: 1rem;
  width: 33%;
  text-align: center;
  transition: all 0.3s;
}

.aboutus-description-block:hover {
  background-color: var(--color-grey-light);
}

.description-block-img {
  width: 65px;
  /* color: var(--color-primary); */
}

.block-heading {
  font-size: 1.6rem;
  color: var(--color-primary);
}

.block-description {
  font-size: 1.4rem;
  margin-top: 1rem;
}

.aboutus-description-points {
  margin-top: 4rem;
  padding: 1rem;
  line-height: 2;
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  column-gap: 2rem;
  align-items: center;
}

.aboutus-description-points div {
  justify-self: self-end;
}

.aboutus-points {

  display: flex;
  flex-direction: column;
}

.aboutus-wrapper {
  display: flex;
  align-items: center;

  background: rgb(167, 244, 167);
  border-radius: 3rem;
  margin-bottom: 1rem;
}

.points-text {
  display: block;
  color: var(--color-subtext);
  font-size: 1.6rem;
  font-weight: 600;
}

.check-pointer {
  padding: 1.5rem;
  margin: 1rem;
  color: red;
}



.check-icon {
  width: 3rem;
  height: 3rem;

  vertical-align: middle;
  color: red;
  display: inline-block;
}



.social-icon {
  color: var(--color-primary);
  width: 2rem;
  height: 2rem;

}


.aboutus-illustration {
  width: 75rem;
  height: relative;
}




/* ******************************** */
/* BELOW 1200px (landscape tablets) */
/* ******************************** */


@media(max-width: 75em) {
  .aboutus-illustration {
    width: 50rem
  }

  .aboutus-description-section2 {
    display: flex;
    gap: 6rem;

  }
}


/* ******************************** */
/* BELOW 960px (Tablets) */
/* ******************************** */

@media(max-width: 60em) {
  .aboutus-description-points {

    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;


  }

  .aboutus-illustration {
    justify-self: center;

  }

  .aboutus-description-points div {
    justify-self: center;
  }

  .aboutus-description-section2 {
    display: flex;
    gap: 4rem;

  }

  .aboutus-description-block {
    padding: 1rem;
  }

  .aboutus-points li {

    list-style-position: outside;
    margin-top: 0.2rem;
  }
}


/* ******************************** */
/* BELOW 704px (Smaller Tablets) */
/* ******************************** */

@media(max-width: 44em) {

  .aboutus-points li {
    font-size: 1.4rem;
  }

  .aboutus-description-section2 {
    flex-direction: column;
  }
}


/* ******************************** */
/* BELOW 544px (Phones) */
/* ******************************** */

@media(max-width: 34em) {
  .aboutus-illustration {
    width: 40rem
  }

  .aboutus-description-points {

    line-height: 1.6;

  }

  .aboutus-points li {
    font-size: 1.2rem;
    margin-top: 1rem;
  }

  .block-description {
    font-size: 1.2rem;
  }
}