.ourteam-section {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 30rem 30rem;
  gap: 2rem;
  row-gap: 4rem;
  margin-top: 2rem;
}

.team-person-card {
  display: flex;
  justify-content: center;
  /* background-color: aqua; */
  /* box-shadow: 0px 0px 10px 1px rgba(91, 91, 91,0.1); */
  overflow: hidden;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.team-person-card {
  position: relative;
}

.image-container {
  margin-top: 2rem;
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 50%;
  transition: all 0.3s ease-in-out;
  position: relative;
}

.image-container::before {
  position: absolute;
  content: "";
  z-index: 0;
  background-image: linear-gradient(-45deg, rgba(27, 27, 27, 0.7), rgba(254, 1, 1, 0.5));
  width: 0;
  height: 100%;
  transition: all 0.5s;
}

.image-container.enlarge::before {
  width: 100%;
}



.image-container.enlarge {
  width: 100%;
  height: 100%;
  border-radius: 0;
  margin-top: 0;
}

.person-info {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
  /* text-shadow: 0 0 0.5px #000; */

}

.person-name {
  font-size: 2.3rem;
  font-weight: 500;
  /* box-shadow: 0 0 0 1px #000; */
}

.person-designation {
  font-size: 1.5rem;
  font-weight: 500;
  color: red;
}

.person-image {
  width: 100%;
}

.profile {
  /* padding: 1rem; */
  height: 4rem;
  width: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #fff;
}


.person-profiles {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  right: 20px;
  bottom: -100%;
  opacity: 1;
}

.person-social-icon {
  width: 2.2rem;
  height: 2.2rem;
  color: var(--color-primary);
}


.show-person-profiles {
  /* opacity: 1; */
  bottom: 20px;
  animation-name: animate;
  animation-duration: 0.5s;

}




@keyframes animate {
  from {
    bottom: -100%
  }

  to {
    bottom: 20px;
  }
}