.ourteam-section {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 30rem 30rem;
  gap: 2rem;
  row-gap: 4rem;
  margin-top: 2rem;
}

.team-person-card {
  display: flex;
  justify-content: center;
  overflow: hidden;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.team-person-card {
  position: relative;
}

.image-container {
  margin-top: 2rem;
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 50%;
  transition: all 0.3s ease-in-out;
  position: relative;
}

.image-container::before {
  position: absolute;
  content: "";
  z-index: 0;
  background-image: linear-gradient(-45deg, rgba(27, 27, 27, 0.7), rgba(254, 1, 1, 0.5));
  width: 0;
  height: 100%;
  transition: all 0.5s;
}

.image-container.enlarge::before {
  width: 100%;
}



.image-container.enlarge {
  width: 100%;
  height: 100%;
  border-radius: 0;
  margin-top: 0;
}

.person-info {
  margin-top: 2rem;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
  width: 100%;

}

.person-name {

  font-size: 1.8rem;
  font-weight: 500;
 
}

.person-designation {
  font-size: 1.4rem;
  font-weight: 400;

}

.person-image {
  width: 100%;
}

.profile a img{
    width: 4rem;
    transition: all 0.1s;
}


.person-profiles {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  right: 20px;
  bottom: -100%;
  opacity: 1;

  transition: all 0.5s;
}

.person-social-icon {
  width: 2.2rem;
  height: 2.2rem;
  color: var(--color-primary);
}


.show-person-profiles {
  bottom: 20px;
  /* animation-name: animate;
  animation-duration: 0.5s; */

}




@keyframes animate {
  from {
    bottom: -100%
  }

  to {
    bottom: 20px;
  }
}



/* Responiveness CSS */


/* ******************************** */
/* BELOW 1200px (landscape tablets) */
/* ******************************** */


@media(max-width: 75em) {
  .image-container { 
    width: 160px;
    height: 160px;
  }

  .profile a img{
    width: 3rem;
}
}


/* ******************************** */
/* BELOW 960px (Tablets) */
/* ******************************** */

@media(max-width: 60em){
  .ourteam-section {
    gap: 1rem;
    row-gap: 2rem;
  }

  .person-info {
    margin-top: 0rem;    
  }

  .person-profiles {
    right: 5px; 
  }

  .show-person-profiles {
    bottom: 50px;  
  }

  .ourteam-section {
    grid-template-rows: 25rem 25rem;
  }

}

/* ******************************** */
/* BELOW 960px (Tablets) */
/* ******************************** */

@media(max-width: 56em){
  .image-container { 
    width: 120px;
    height: 120px;
  }

  .ourteam-section {
    grid-template-rows: 20rem 20rem;
  }

  .person-name {
    font-size: 1.6rem; 
  }

  .person-designation {
    font-size: 1rem;
  }
}

/* ******************************** */
  /* BELOW 704px (Smaller Tablets) */
  /* ******************************** */

  @media(max-width: 44em){
    .ourteam-section {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(4,25rem);
      gap: 4rem;
      row-gap: 2rem;
    }

    .image-container { 
      width: 160px;
      height: 160px;
    }
  
   
  
    .person-profiles {
      right: 20px; 
    }
  
    .show-person-profiles {
      bottom: 20px;  
    }

    .person-name {
      font-size: 1.8rem; 
    }
  
    .person-designation {
      font-size: 1.4rem;
    }
  
  
    
  }


  /* ******************************** */
/* BELOW 544px (Phones) */
/* ******************************** */

@media(max-width: 34em){

  .ourteam-section {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4,20rem);
    gap: 0.5rem;
    row-gap: 4rem;
  }

  .image-container { 
    width: 120px;
    height: 120px;
  }
  .person-profiles {
    right: 10px; 
  }
  .show-person-profiles {
    bottom: 50px;  
  }

  .person-name {
    font-size: 1.6rem; 
  }

  .person-designation {
    font-size: 1rem;
  }
  .profile a img{
    width: 2.5rem;
}
}

