/* 
font-Size: 5rem,1.8rem
padding,margin,gap: 1rem, 4rem
*/



.carousel {
    overflow: hidden;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.inner-carousel-section {
    white-space: nowrap;
    transition: transform 1s;
    display: grid;

    grid-template-columns: repeat(4, 100vw);

}

.carousel-item {
    display: grid;

    grid-template-columns: 55% 45%;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    position: relative;
    gap: 1rem;
    padding: 2rem 4rem;



}



.carousel-item-text-section {
    text-align: left;
    display: flex;
    flex-direction: column;

    /* margin-left: 4rem; */
    gap: 2rem;
    white-space: initial;

}

.carousel-item-text {
    white-space: normal;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 5rem;
    line-height: 1.2;
    letter-spacing: -0.03em;


}

.bold-text {
    color: var(--color-primary);
    font-weight: 600;
}

.carousel-item-subDes {
    font-size: 1.8rem;
    margin-top: 4rem;
    font-weight: 500;
    color: var(--color-subtext-light);
    font-style: italic;
    /* overflow-wrap: break-word; */
}

.carousel-item-subtext {
    font-size: 1.5rem;
    font-weight: 500;
    /* white-space:initial; */
}



.img-container {
    padding: 2rem;

    display: flex;
    align-items: center;
    justify-content: center;
    animation-name: onLoading;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    position: relative;
    height: fit-content;
    /* width: ; */
    /* width: 52rem; */

}


.carousel-img {
    z-index: 99;
    position: relative;
    width: 90%;
    padding: 0;
}



.carouselImage1 {
    position: absolute;
    bottom: 0;

    border-radius: 10px;
    left: 0;
    width: 8rem;
    transform: translate(-50%, 0);
}








/* final stage */

.carousel-buttons {
    display: flex;
    justify-content: space-evenly;
}



.indicators {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}

.indicator-buttons {
    border: none;
    cursor: pointer;
}

.indicators>button {
    margin: 5px;
    background: none;
}

.indicator-symbol {
    color: var(--color-subtext-light);
}

.indicator-symbol-active {
    color: #FE0101;
}


/* Animations */
@keyframes onLoading {
    from {
        opacity: 0;
        transform: translate(100%, 0);
    }

    to {
        opacity: 1;
        transform: translate(0%, 0);
    }
}


.carousel-swiper {
    width: 100%;
}

.carousel-swiper-slide {
    width: 100vw !important;
}






/* ******************************** */
/* BELOW 1200px (landscape tablets) */
/* ******************************** */


@media(max-width: 75em) {

    .carousel-item-text {
        font-size: 4rem;
    }

    .carousel-item-subDes {
        font-size: 1.5rem
    }

    .carousel-item-subtext {
        font-size: 2rem;
    }

    .carousel-item-text-section {
        gap: 0;
    }
}


/* ******************************** */
/* BELOW 960px (Tablets) */
/* ******************************** */

@media(max-width: 60em) {
    .carousel-item-text {
        font-size: 3rem;
    }

    .carousel-item-subDes {
        font-size: 1.2rem;
        margin-top: 3rem;
    }

    .carousel-item-subtext {
        font-size: 1.6rem;
    }
}

/* ******************************** */
/* BELOW 800px (Smaller Tablets) */
/* ******************************** */

@media(max-width: 50em) {


    .carousel-item {
        gap: 0;
    }

    .carousel-item-text {
        font-size: 2.5rem;
    }

    .carousel-item-subDes {
        font-size: 1.2rem;
        margin-top: 2rem;
    }

    .carousel-item-subtext {
        font-size: 1.4rem;
    }

}

/* ******************************** */
/* BELOW 704px (Smaller Tablets) */
/* ******************************** */

@media(max-width: 44em) {
    .carousel-item {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
        row-gap: 2rem;
    }


    .carousel-item-text-section {
        grid-row: 2/3;
        align-self: flex-start;
        justify-self: center;
    }

    .carousel-img {
        width: 80%;
    }

    .carousel-item-text-section {
        gap: 1rem;
    }
}

/* ******************************** */
/* BELOW 544px (Phones) */
/* ******************************** */

@media(max-width: 34em) {
    .carousel-img {
        width: 100%;
    }


    .carousel-item-subDes {
        font-size: 1.2rem;
        margin-top: 2rem;
        line-height: 1.4;
    }

    .material-symbols-outlined {
        font-size: 16px;
    }

    .carousel-item-subtext {
        font-size: 1.4rem;
        line-height: 1.4;
    }

    .img-container {
        padding: 0 0 2rem 0;
    }
}