.testimonials {
    width: 100%;
    margin-inline: auto;
    padding: 4rem 0;
    font-family: var(--font-family);

}

.testimonials__container {
   
}

.testimonial_title {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5rem;

}

.testimonial-card {
    margin-top: 4rem;
}

.testimonial-heading {
    float:right;
    margin-top: 3rem;
    padding: 2rem 4rem;
}

.name {
    font-size: 2.5rem;
    color: var(--color-primary);
    line-height: 2;
}

.job {

    color: var(--color-primary);
    font-size: 1.5rem;
}




.testimonial_text-section {
    padding: 2rem;
    letter-spacing: 0.5px;
    line-height: 1.7;

}

.testimonial_avatar {
    width: 15rem;
    height: 15rem;
    overflow: hidden;
    position: relative;
    margin-top: -2rem;
    margin-left: 1.5rem;
    z-index: 99;
    border-radius: 50%;

}
.testimonial-text{
    font-size: 1.4rem;
}




/* -------SWIPER---------*/

.mySwiper {
    width: 100%;
padding: 5rem 0;
}

.myswiper-slide {
    background-position: center;
    background-size: cover;
    width: 500px;
    height: 350px;
    border-radius: 2rem;
    object-fit: cover;
    box-shadow: 0px 0px 5px 0.5px grey;
    text-align: left;
    margin-top: 1.8rem;
    margin-bottom: 0.5rem;
    gap: 2rem;
    background: white;
}

.myswiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    /* border-radius: 10rem; */
    object-fit: cover;

}



/* ******************************** */
/* BELOW 1200px (landscape tablets) */
/* ******************************** */


@media(max-width: 75em) {
    .myswiper-slide{
        width: 400px;
        height: 300px;
    }

    .testimonial_avatar{
        width: 12rem;
        height: 12rem;
    }


    .testimonial-heading{
        padding: 2rem 2rem;
    }
    .testimonial-text{
        font-size: 1.2rem;
    }

    .name {
        font-size: 2rem;
        color: var(--color-primary);
        line-height: 2;
    }
    
    .job {
    
        color: var(--color-primary);
        font-size: 1.2rem;
    }
}


/* ******************************** */
/* BELOW 544px (Phones) */
/* ******************************** */

@media(max-width: 34em){
    .myswiper-slide{
        width: 300px;
        height: 260px;
    }

    .testimonial_avatar{
        width: 8rem;
        height: 8rem;
    }


    .testimonial-heading{
        padding: 1rem;
    }
    .testimonial-text{
        font-size: 1.1rem;
    }

    .name {
        font-size: 1.6rem;
        color: var(--color-primary);
        line-height: 2;
    }
    
    .job {
    
        color: var(--color-primary);
        font-size: 1rem;
    }

    .testimonial_text-section{
        padding: 2rem;
    }
}