/* font-Size: 5rem,1.8rem 
font-weight: 450
*/


.anupaat__navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
    padding: 1rem 4rem;
    font-size: 1.8rem;
    position: sticky;
    top: 0;
    color: var(--color-text);
    font-family: var(--font-family);
    background: #ffffff;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

}

.anupaat__navbar.active {
    background: rgb(252, 248, 212);
}

.anupaat__navbar-links {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.anupaat__navbar-links_logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25rem;   
}

.anupaat__navbar-links_logo img {
    width: 100%;
}

.anupaat__navbar-links_container { 
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    align-items: center;
    margin-right: 3rem;    
}

.anupaat__navbar-sign {
    display: flex;
    justify-content: center;
    align-items: center;
}



.anupaat__navbar-links_container li{
    font-family: var(--font-family);
    font-weight: 450;
    line-height: 25px;  
    margin: 0 1rem;
    cursor: pointer;
    
}


.nav-link {
    transition: all 0.3s;
    position: relative;
}

.nav-link::before {
    content: "";
    width: 100%;
    height: 0px;
    background-color: #FE0101;
    position: absolute;
    z-index: -1;
    left: 0;
    bottom: -20px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    transition: all 0.3s;
}

.nav-link:hover::before {
    height: 10px;
}

.nav-link:hover,
.nav-link:active {
    color: #FE0101;
}


.anupaat__navbar-sign button{
    padding: 0.8rem 2rem;
    color: #fff;
    background: #FE0101;
    font-family: var(--font-family);
    font-weight: 450;
    font-size: 1.8rem;
    outline: none;
    cursor: pointer;
    border-radius: 1rem;
    transition: all 0.3s;
}

.anupaat__navbar-sign button:hover,
anupaat__navbar-sign button:focus {
    background-color: #fff;
    color: #FE0101;
    box-shadow: inset 0 0 0 2px var(--color-blog);
}

/* ****************************************** */
/*Swiping Menu */
/* ****************************************** */


.anupaat__navbar-menu {
    margin-left: 1rem;

    display: none;
    position: relative;
}

.anupaat__navbar-menu svg {
    cursor: pointer;
}

.anupaat__navbar-menu_container {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
    text-align: end;
    background: #eb0f0f;
    padding: 2rem;
    position: absolute;
    right: 0;
    top: 40px;
    margin-top: 1rem;
    min-width: 250px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

.anupaat__navbar-menu_container-links li {
    color: #fff;

}

.anupaat__navbar-menu_container-links li:hover,
.anupaat__navbar-menu_container-links:focus {
    color: #000000;
}



/*only shows on medium and small screens*/
.anupaat__navbar-menu_container-links-sign {
    display: none;

}



/*MEDIA QUERIES*/
@media screen and (max-width: 1050px) {
    .anupaat__navbar-links_container {
        display: none;
    }


    .anupaat__navbar-menu {
        display: flex;
    }

    .anupaat__navbar-menu_container-links-sign button {
        height: 50px;
        width: 150px;
    }

}



@media screen and (max-width: 700px) {
    .anupaat__navbar {
        padding: 2rem 4rem;
    }
}

@media screen and (max-width: 550px) {
    .anupaat__navbar {
        padding: 1rem;
    }

    .anupaat__navbar-sign {
        display: none;
    }

    .anupaat__navbar-menu_container {
        top: 20px;
    }

    .anupaat__navbar-menu_container-links-sign {
        display: block;

    }

    .anupaat__navbar-links_logo img {
        margin-left: 1px;
    }
}