* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

body {
  background: var(--color-bg);
  font-family: var(--font-family);
  line-height: 1.7;
  overflow-x: hidden;
}

h1 {
  font-size: 5.6rem;
  line-height: 1;

}

h2 {
  font-size: 3rem;
  font-weight: 500;
  line-height: 1;
}

h3 {
  font-size: 2rem;
  font-weight: 600;
}

.lead {
  width: 63%;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.5;
  margin: 2rem auto 3rem;


}

p {
  font-size: 1.5rem;
}

a {
  color: unset;
  text-decoration: none;
  transition: all 0.3s;
}

/*.section__padding {
  width: 1400px;
  margin: 0 auto;
  padding: 0 4rem;
}*/
.section__padding {
  max-width: 100%;
  padding: 4rem 5rem;
}

.section__margin {
  margin: 0 auto;
}

.btn {
  padding: 1rem 2rem;
  display: inline;
  font-size: 2rem;
  font-family: var(--font-family);
  font-weight: 450;
  border: 1px solid transparent;
  outline: none;
  cursor: pointer;
  border-radius: 1rem;
  transition: all 0.3s;
  box-shadow: inset 0 0 0 1px var(--color-primary);
}

.btn-primary {
  color: var(--color-text);
  background: var(--color-grey-light);
}


.btn:hover {
  background-color: var(--color-primary);
  color: #fff;
}

.home-section {
  margin-top: 9.6rem;

}


.hero-section {
  margin-top: 6rem;
  /* height: 100vh; */
}

.aboutus-title {
  display: flex;
  justify-content: center;
  align-items: center;
}



/* .scale-up-center {
  -webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
  animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
} */

@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}



/* ******************************** */
/* BELOW 1200px (landscape tablets) */
/* ******************************** */


@media(max-width: 75em) {
  .section__padding {
    padding: 4rem 2rem;
  }
}



/* ******************************** */
/* BELOW 752px (Smaller Tablets) */
/* ******************************** */

@media(max-width:47em) {
.btn{
  font-size: 1.6rem;
  padding: 0.6rem 1.8rem;
}
}


/* ******************************** */
/* BELOW 640px (Phones) */
/* ******************************** */
@media(max-width:40em) {
h2{
  font-size: 2.5rem;
}


}



