* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

body {
  background: var(--color-bg);
  font-family: var(--font-family);
  line-height: 1.7;
  overflow-x: hidden;
}

h1 {
  font-size: 5.6rem;
  line-height: 1;

}

h2 {
  font-size: 4rem;
  font-weight: 500;
  line-height: 1.2;
}

h3 {
  font-size: 2rem;
  font-weight: 600;
}

.lead {
  width: 80%;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.5;
  margin: 4rem auto 1rem auto;
  color: var(--color-subtext-light);
}

.topLine {
  font-size: 1.6rem;
  line-height: 1.6rem;
  letter-spacing: 1.4px;
  text-transform: uppercase;
  margin-bottom: 1.6rem;
}

p {
  font-size: 1.6rem;
}

a {
  color: unset;
  text-decoration: none;
  transition: all 0.3s;
}


.section__padding {
  max-width: 100%;
  padding: 4rem 5rem;

}

.section__margin {
  margin: 0 auto;
}

.btn {
  padding: 1rem 2rem;
  display: inline;
  font-size: 2rem;
  font-family: var(--font-family);
  font-weight: 450;
  border: 1px solid transparent;
  outline: none;
  cursor: pointer;
  border-radius: 1rem;
  transition: all 0.3s;
  box-shadow: inset 0 0 0 1px var(--color-primary);
}

.btn-primary {
  color: var(--color-text);
  background: var(--color-grey-light);
}


.btn:hover {
  background-color: var(--color-primary);
  color: #fff;
}

.home-section {
  margin-top: 9.6rem;

}


.hero-section {
  margin-top: 8rem;
  /* height: 100vh; */
}

.section-heading-focus {
  background: var(--color-primary);
  color: #fff;
  border-radius: 2rem;
  padding: 0 1rem;
}

.aboutus-title {
  display: flex;
  justify-content: center;
  align-items: center;
}




@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}



/* ******************************** */
/* BELOW 1200px (landscape tablets) */
/* ******************************** */


@media(max-width: 75em) {
  .section__padding {
    padding: 4rem 2rem;
  }
}

/* ******************************** */
/* BELOW 960px (Tablets) */
/* ******************************** */

@media(max-width: 60em) {
  h2 {
    font-size: 3rem;
  }

  .home-section {
    margin-top: 8rem;

  }

  h1 {
    font-size: 5rem;

  }
}

/* ******************************** */
/* BELOW 752px (Smaller Tablets) */
/* ******************************** */


@media(max-width:47em) {
  .btn {
    font-size: 1.6rem;
    padding: 0.8rem 1.8rem;
  }

  p {
    font-size: 1.4rem;
  }

  .lead {
    width: 100%;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.2;
    margin: 3rem auto 1rem auto;
  }

  h1 {
    font-size: 4.4rem;

  }

  h3 {
    font-size: 1.8rem;
    font-weight: 600;
  }
}


/* ******************************** */
/* BELOW 640px (Phones) */
/* ******************************** */
@media(max-width:40em) {

  p {
    font-size: 1.2rem;
  }

  .lead {
    width: 100%;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.2;
    margin: 3rem auto 1rem auto;
  }


}


/* ******************************** */
/* BELOW 544px (Phones) */
/* ******************************** */

@media(max-width: 34em) {
  h2 {
    font-size: 2rem;
  }

  .btn {
    font-size: 1.4rem;
    padding: 0.6rem 1.4rem;
  }

  .offerings__article {
    margin-top: 2rem;
  }

  .lead {
    width: 100%;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.2;
    margin: 4rem auto 1rem auto;
  }

  .home-section {
    margin-top: 6rem;

  }

  h1 {
    font-size: 2.4rem;

  }

  .section__padding {
    padding: 2rem 1rem;
  }

  h3 {
    font-size: 1.6rem;
    font-weight: 600;
  }

}