@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;500;600&display=swap');

*,
*::before,
*::after {
  margin: 0;
  border: 0;
  padding: 0;
  outline: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

html {

  /* 10px / 16px = 0.625 = 62.5% */
  /* font-size setting */

  /* Now 1rem  = 10px */
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  font-family: var(--font-family);
}



:root {
  --font-family: 'Poppins', sans-serif;
  --color-bg: #fff;
  /*whitish*/
  --color-bg-dark: #000;
  --color-primary: #FE0101;
  /*offred*/
  --color-primary-light: #f9f9f9;
  /*seasalt*/
  --color-secondary-light: #e5e5e5;
  --color-secondary-dark: #161a1d;
  /*erieblack*/







  --color-grey-light: #f1f3f5;
  --color-text: #1b1b1b;
  --color-subtext: #323232;
  --color-subtext-light: #747474;

  --transition: all 500ms ease;
}