@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;500;600&display=swap');

*,
*::before,
*::after {
  margin: 0;
  border: 0;
  padding: 0;
  outline: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

html{
  
  /* 10px / 16px = 0.625 = 62.5% */
  /* font-size setting */

  /* Now 1rem  = 10px */
  font-size: 62.5%;
}



:root {
  --font-family: 'Poppins', sans-serif;
  --color-bg:#fff;

  --color-primary: #FE0101;
  --color-primary-dark: #dd1010;
  --color-primary-light: #ffb3b3;

  --color-secondary:#fcf8d4;



  --color-grey-light: #f1f3f5;
  --color-text: #1b1b1b;
  --color-subtext: #323232;
  --color-subtext-light: #5b5b5b;

  --transition: all 500ms ease;
}