@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;500;600&display=swap');

*,
*::before,
*::after {
  margin: 0;
  border: 0;
  padding: 0;
  outline: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

:root {
  --font-family: 'Poppins', sans-serif;
  --color-bg: #fff;
  --color-footer: #d1c8c8d0;
  --color-blog: #FE0101;
  --color-primary-light:#ffe6e6;
  --color-focus:#ffb3b3;
  --color-text: #1b1b1b;
  --color-subtext: #9a9594;
  --transition: all 500ms ease;
}