.anupaat__footer {
    margin-top: 8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;

    background: var(--color-secondary-dark);
    gap: 3rem;
    padding: 6rem 6rem 1rem 6rem;
    font-family: var(--font-family);
}

.anupaat__footer-links {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    text-align: left;
    align-items: stretch;
}

.AboutUs-Content p {
    font-size: 1.3rem;
    margin-bottom: 1rem;
    text-align: left;
    color: var(--color-grey-light);
}


.anupaat__footer-btn {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 1rem;
    border: 1px solid #fff;
    text-align: center;

    margin-bottom: 10rem;
    cursor: pointer;
}



.AboutUs {
    font-size: 12rem;
    color: #fff;

}


.anupaat__footer-links div {

    width: 300px;

}

.anupaat__footer-links_logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

}

.anupaat__footer-links_logo img {
    width: 20rem;
    margin-bottom: 2rem;
}

.anupaat__footer-links_about h3 {
    font-size: 16px;
    line-height: 17px;
    font-family: var(--font-family);


    margin-bottom: 0.9rem;
}

.anupaat__footer-links_about p {

    line-height: 1.3;
    font-family: var(--font-family);
    color: #fff;

    margin: 0.5rem 0;
    cursor: pointer;
}



.anupaat__footer-links_div {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;

}

.anupaat__footer-links_div h3 {
    font-size: 1.9rem;
    line-height: 17px;
    font-weight: 500;
    color: #fff;
    margin-bottom: 0.5rem;
}

.anupaat__footer-links_div h3.footer-heading {
    margin-bottom: 2rem;
    color: var(--color-primary);
}






.anupaat__footer-socialicons {
    justify-content: flex-start;
    gap: 2rem;
    display: flex;
    margin-bottom: 1rem;
}

.anupaat__footer-socialicons a img {
    width: 4rem;
    transition: all 0.1s;
}

.anupaat__footer-socialicons a:hover {
    color: var(--color-blog);
    transform: translate(0, -5%);
}

.copyright-section {
    width: 100%;
    padding: 1rem 0;
    text-align: center;
    border-top: 1px solid #767676;
    font-size: 1.2rem;
    color: var(--color-secondary-light);
}

.footer-links {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    color: var(--color-grey-light);
}

.footer-links a:hover {
    color: var(--color-primary);
}








@media screen and (max-width: 850px) {
    .anupaat__footer-heading h1 {
        font-size: 44px;
        line-height: 50px;
    }
}

@media screen and (max-width: 550px) {
    .anupaat__footer-heading h1 {
        font-size: 34px;
        line-height: 42px;
    }

    .anupaat__footer-links div {
        margin: 1rem 0;
    }


}

@media screen and (max-width: 400px) {
    .anupaat__footer-heading h1 {
        font-size: 27px;
        line-height: 38px;
    }

    .anupaat__footer {
        padding: 2rem 2rem 1rem 2rem;
    }
}