.blur-overlay {
  min-width: 100vw;
  min-height: 100vh;
  backdrop-filter: blur(10px);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  align-items: center;
  justify-content: center;
}


.infotext-container {
  display: flex;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 500;
  text-align: center;
  margin-bottom: 4rem;
}


.contactForm-container {
  position: relative;
  max-width: 70%;
  /* max-height: 50%; */
  background-color: #28282B;
  border-radius: 2rem;
  color: #fff;
  padding: 2rem;
  box-shadow: 0 0 2px 0 #000;
}

.contact-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.close-icon {
  position: relative;
  font-size: 4rem;
  cursor: pointer;
  transition: all 0.3s;
  text-align: right;
  color: var( --color-primary);
}

.close-icon:hover {
  transform: scale(1.2);
}


.input-box {
  position: relative;
  width: 80%;
}

.fund-box {
  margin-top: 4rem;
  display: flex;
  justify-content: center;
}

.input-label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 1.6rem;
  color: #fff;
  pointer-events: none;
  transition: .5s;
}

.input-info {
  width: 100%;
  padding: 10px 0;
  font-size: 1.6rem;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}

.input-info::placeholder {
 visibility: hidden;
 color: #28282B;

}

.input__phonenumber {
  margin-bottom: 0rem;
}

.input-label__phonenumber {
  left: 8rem;
}

.input-label__fundname {
  font-size: 1.6rem;
  position: relative;
}

.input__fundname {
  width: auto;
  border: 2px solid var(--color-subtext-light);
  color: var(--color-subtext-light);
  padding: 1rem;
  border-radius: 2rem;
  text-align: center;
}

.fullname-box input:focus~label, .fullname-box input:not(:placeholder-shown)~label{
  top: -20px;
  left: 0;
  color: #bdb8b8;
  font-size: 12px;
}

.email-box input:focus~label, .email-box input:not(:placeholder-shown)~label {
  top: -20px;
  left: 0;
  color: #bdb8b8;
  font-size: 12px;
}



.input__phonenumber input {
  font-size: 1.6rem;
  background-color: transparent;
  color: #fff;

}

.btn_container {
  margin-top: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.toastContainer {
  font-size: 1.8rem;
}

.error{
  font-size: 1.2rem;
  font-weight: 500;
}




/* CUSTOM BUTTON */

button {
  cursor: pointer;
  font-family: inherit;
  font-size: 2rem;
  background: red;
  color: white;
  padding: 0.7em 1em;
  padding-left: 0.9em;
  display: flex;
  align-items: center;
  border: none;
  border-radius: 1rem;
  overflow: hidden;
  transition: all 0.2s;
}

button span {
  display: block;
  margin-left: 0.3em;
  transition: all 0.3s ease-in-out;
}

button svg {
  display: block;
  transform-origin: center center;
  transition: transform 0.3s ease-in-out;
}

button:hover .svg-wrapper {
  animation: fly-1 0.6s ease-in-out infinite alternate;
}

button:hover svg {
  transform: translateX(1.2em) rotate(45deg) scale(1.1);
}

button:hover span {
  transform: translateX(5em);
}

button:active {
  transform: scale(0.95);
}

@keyframes fly-1 {
  from {
    transform: translateY(0.1em);
  }

  to {
    transform: translateY(-0.1em);
  }
}




/* /////////////////////////// */

/* SENDING ANIMATION */

.loader {
  width: 48px;
  height: 48px;
  margin: auto;
  position: relative;
}

.loader:before {
  content: '';
  width: 48px;
  height: 5px;
  background: #f0808050;
  position: absolute;
  top: 60px;
  left: 0;
  border-radius: 50%;
  animation: shadow324 0.5s linear infinite;
}

.loader:after {
  content: '';
  width: 100%;
  height: 100%;
  background: #f08080;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 4px;
  animation: jump7456 0.5s linear infinite;
}

@keyframes jump7456 {
  15% {
    border-bottom-right-radius: 3px;
  }

  25% {
    transform: translateY(9px) rotate(22.5deg);
  }

  50% {
    transform: translateY(18px) scale(1, .9) rotate(45deg);
    border-bottom-right-radius: 40px;
  }

  75% {
    transform: translateY(9px) rotate(67.5deg);
  }

  100% {
    transform: translateY(0) rotate(90deg);
  }
}

@keyframes shadow324 {

  0%,
  100% {
    transform: scale(1, 1);
  }

  50% {
    transform: scale(1.2, 1);
  }
}


/* RESPONSIVENESS CSS */

/* ******************************** */
/* BELOW 1200px (small desktops) */
/* ******************************** */

@media(max-width:75em) {
  .info-input,
  .query_select {
    margin-right: 5rem;

  }

  .ModalForm-PhoneInput {
    margin-right: 5rem;

  }
}


/* ******************************** */
/* BELOW 928px (Tablets) */
/* ******************************** */

@media(max-width:71em) {

  .info-input,
  .query_select {
    margin-right: 2rem;
    width: 25rem;

    font-size: 1.6rem;
  }

  .ModalForm-PhoneInput {
    margin-right: 2rem;
    font-size: 1.6rem;

    width: 25rem;
  }

  .ModalForm-PhoneInput input {
    font-size: 1.6rem;
  }


}

/* ******************************** */
/* BELOW 752px (Smaller Tablets) */
/* ******************************** */

@media(max-width:47em) {

  .contact-form div label {

    margin-left: 1rem;
    font-size: 1.4rem;
  }

  .info-input,
  .query_select {
    margin-right: 1rem;
    width: 20rem;

    font-size: 1.4rem;
  }

  .ModalForm-PhoneInput {
    margin-right: 1rem;
    font-size: 1.4rem;

    width: 20rem;
  }

  .ModalForm-PhoneInput input {
    font-size: 1.4rem;
  }

  button {
    font-size: 1.4rem;
  }


}

/* ******************************** */
/* BELOW 544px (Phones) */
/* ******************************** */
@media(max-width:34em) {
  .contactForm-container {
    max-width: 90%;

  }

  .contact-form div label {

    margin-left: 0rem;
    font-size: 1.2rem;
  }

  .info-input,
  .query_select {
    margin-right: 0rem;
    width: 15rem;
    font-size: 1.2rem;
  }

  .ModalForm-PhoneInput {
    margin-right: 0rem;
    font-size: 1.2rem;

    width: 15rem;
  }

  .ModalForm-PhoneInput input {
    font-size: 1.2rem;
  }

  button {
    font-size: 1.2rem;
  }

  .infotext-container {
    font-size: 1.4rem;

  }

  .input-container {

    gap: 1rem;
  }

  .loader {
    width: 18px;
    height: 18px;
    margin: auto;
    position: relative;
  }

  .loader:before {
    content: '';
    width: 18px;
    height: 2px;
    background: #f0808050;
    position: absolute;
    top: 30px;
    left: 0;
    border-radius: 50%;
    animation: shadow324 0.5s linear infinite;
  }


}